
@import url('https://fonts.googleapis.com/css2?family=Satisfy&display=swap');


body{
 margin: 1000%;
 padding: 0%;
 box-sizing: border-box;
 width: 100%;
 font-family:Satisfy ;
 align-items: center;
}

#home{
    background-color: #DF0054;
}

section{
    min-height:100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}









   
   

.img-fluid{
  
}


/*-------navbar--------*/

#navbar{
    position: sticky;
    top: 0;
    background: #DF0054;
    z-index: 10;
}

.bold{
    font-size: 25px;
    background-color: #DF0054;
  

}

span{
    color: white ;
    font-size: 30px;
    font-weight: bolder;
    font-family: cursive;
}


li{
    padding: 5px;
  

}

.nav-link{
    font-size:15px;
    border: 2px solid transparent;
    
}

.nav-link:hover{
border-bottom: 2px solid white;
transition:.1s;
}






/*-------2------*/


th{
    color: tomato;
    text-align: center;
}
.td{
    font-size: 12px;
}




table{
  border-color: white;
  border-spacing: 10px;
  font-size: 20px;
  
}


#home img{
    border-radius: 50px;
}






/*--------3----------*/


.third{
    background-color: #FF8B6A;
}

.third p{
    font-family: monospace;
    text-align: center;
    color: white;
    font-size: 25px;
    font-weight: bold;
    margin-right: 25px;

}

.Nyork{
    color: white;
    font-family:cursive;
    font-size: 12px;
}

.img{
margin-left: 45%;
}

.copresent{
   padding-left: 350px;
    margin-left: 80px;
}

/*--------4----------*/

h3{
    margin-left: 50px;
}
.row p{
    margin-left: 300px;
}

.title{
    margin-left: 50px;
  
}
.title dt{
    margin-left: 50px;
}







.inner {
    background-color: grey;
 
}




/*--------5----------*/

.fifth{
   background-color: #DF0054;
   
}
.fifth p{
    font-size: 30px;
    color: white;
    text-align: center;
    margin-left: 25px;
    font-family: monospace;
    font-weight: bolder;

}

.butt{
    margin-left: 450px;
}





/*--------6---------*/

.sixth{
    margin-left: 400px;
}

.wrapper .icon{
    position: relative;
    background-color: black;
    border-radius: 50%;
    margin: 10px;
    width: 50px;
    height: 50px;
    line-height: 50px;
    font-size: 22px;
    display: inline-block;
    align-items: center;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    transition: all 0.2s cubic-bezier(0.68, -0.55, 0.265, 1.55);
    color: #333;
    text-decoration: none;
  }
  .wrapper .tooltip {
    position:absolute;
    top: 0;
    line-height: 1.5;
    font-size: 14px;
    background-color: #ffffff;
    color: #ffffff;
    padding: 5px 8px;
    border-radius: 5px;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
    opacity: 0;
    pointer-events: none;
    transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  }
  .wrapper .tooltip::before {
    position: absolute;
    content: "";
    height: 8px;
    width: 8px;
    background-color: #ffffff;
    bottom: -3px;
    left: 50%;
    transform: translate(-50%) rotate(45deg);
    transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  }
  .wrapper .icon:hover .tooltip {
    top: -45px;
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
  }
  .wrapper .icon:hover span,
  .wrapper .icon:hover .tooltip  {
    text-shadow: 0px -1px 0px rgba(0, 0, 0, 0.1);
  }
  .wrapper .facebook:hover,
  .wrapper .facebook:hover .tooltip,
  .wrapper .facebook:hover .tooltip::before{
    background-color: #3b5999;
    color: #ffffff;
  }
  .wrapper .twitter:hover,
  .wrapper .twitter:hover .tooltip,
  .wrapper .twitter:hover .tooltip::before  {
    background-color: #46c1f6;
    color: #ffffff;
    

  }
  .wrapper .instagram:hover,
  .wrapper .instagram:hover .tooltip,
  .wrapper .instagram:hover .tooltip::before {
    background-color: #e1306c;
    color: #ffffff;
  }


 